body {
  background: rgb(1,4,11);
  background: linear-gradient(119deg, rgba(1,4,11,1) 0%, rgba(2,20,57,1) 49%, rgba(0,0,0,0.8491990546218487) 72%, rgba(3,12,107,0.7259497549019608) 100%);

  height: 100vh; 
}

.Container {
  background: rgba(28, 28, 28, 0.9); 
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
  padding: 20px;
  margin-top: 40px;
}

.bars-section {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}
