.eval-container {
  flex-wrap: wrap; /* Allow containers to wrap to the next line */
  padding: 3px; /* Adjusted padding for a more compact look */
  width: 85%;  /* Each container occupies 25% of the parent container */
  margin: 5px;  /* Adjusted for horizontal and vertical spacing */
  padding: 5px;
  background: linear-gradient(90deg, rgb(65, 63, 63) 50%, rgb(55, 53, 53) 89%);
  border-radius: 1px; /* Sharper borders */
  box-shadow: 0 4px 10px rgba(10, 9, 9, 0);
  position: relative;/* Include padding and border in width calculation */
  height:auto;
}


.evaluation-value {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 12px; /* Adjusted font size */
  margin-top: 9px; /* Moved above the player names */
  margin-bottom: 5px;
  position: absolute; /* Position absolutely */
  top: 53%; /* Align to the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1; /* Ensure it's above bars */
}

.player-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px; /* Reduced margin for compactness */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white-player, .black-player {
  flex: 1;
  padding: 2px 8px; /* Adjusted padding for sleeker design */
  border-radius: 3px; /* Sharper borders */
  font-size: 12px; /* Smaller font size for sleeker design */
}

.white-player {
  background-color: #ecdab900;
  color: black;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.black-player {
  background-color: #ae8a6900;
  color: rgb(0, 0, 0);
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
}

.eval-bars {
  position: relative;
  display: flex;
  width: 100%; /* Change this to the desired width for the bars */
  height: 11px;
  background-color: #000000;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.white-bar {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  transition: width 1.2s;
}

.result-value {
  font-weight: bold;
  color: rgb(255, 255, 255); /* Set the text color to white for result */
  font-size: 18px;
  top: 100%; /* Align to the top */
  left: 15%;
  background-size: 300px;
}

.evaluation-value {
  font-weight: bold;
  color: black; /* Set the text color to black for evaluation */
  font-size: 18px;
}

