.eval-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: rgba(28, 28, 28, 0.5);  
    border-radius: 2px;
    padding: 20px; 
    width: 40%;  
    margin-bottom: 20px;
}

.player-names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.eval-bars {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: black;
    border-radius: 1px;
    overflow: hidden;
}

.white-bar {
    position: absolute;
    left: 0;
    height: 100%; 
    background-color: white;
    transition: width 0.8s;
}

.evaluation-value {
    margin-top: 10px;
}

* {
    font-family: 'Roboto', sans-serif; 
    transition: all 0.3s ease;
}

/* AppBar */
.app-bar {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #1a1a1a; /* A darker tone */
}

/* Buttons */
button {
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-2px); /* A lift effect on hover */
}

/* TextFields */
.text-field {
    border-radius: 5px;
}

.text-field:focus {
    border-color: #1a73e8; /* Using the primary color */
    box-shadow: 0px 0px 5px rgba(26, 115, 232, 0.4); /* A soft glow */
}


.eval-container {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.eval-bars {
    border-radius: 50px; 


.tooltip, .modal {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
}