body {
    margin: 0;
    font-family: 'Orbitron', 'Arial', sans-serif;
    background-color: #121212;
    color: white;
  }
  
  .AppBar {
    background-color: #333;
  }
  
  .MuiTab-root {
    font-weight: bold;
  }
  
  .TabPanel {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .ListItem {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .Typography {
    line-height: 1.6;
  }
  
  .Paper {
    background-color: #2a2a2a;
    color: #fff;
    overflow-y: auto;
    margin-top: 10px;
    max-height: 600px; /* Increased height */
  }
  
  .Paper::-webkit-scrollbar {
    width: 6px;
  }
  
  .Paper::-webkit-scrollbar-track {
    background: #333;
  }
  
  .Paper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
  }
  
  .Paper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .appHeading {
    color: #00ff00; /* Futuristic green color */
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
  }
  
  @media (max-width: 600px) {
    .TabPanel {
      padding: 15px;
    }
  
    .AppBar {
      font-size: 0.8rem;
    }
  }
  .dataList {
    padding: 0;
    margin: 0;
  }
  
  .dataItem {
    padding: 10px;
    border-bottom: 1px solid #444;
    display: flex;
    align-items: center;
  }
  
  .dataIndex {
    margin-right: 10px;
    font-weight: bold;
    color: #00ff00;
  }
  
  .paperStyle {
    background-color: #2a2a2a;
    color: #fff;
    overflow-y: auto;
    margin-top: 10px;
    max-height: 600px; /* Adjusted height */
  }
  .passwordProtection {
    text-align: center;
    margin-top: 50px;
  }
  
  .passwordInput {
    margin-top: 20px;
    width: 100%;
    max-width: 300px; /* Adjust the width as needed */
  }
  
  .passwordButton {
    margin-top: 20px;
    background-color: #00ff00; /* Button background color */
    color: #333; /* Button text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .passwordButton:hover {
    background-color: #009900; /* Button background color on hover */
  }